# Database
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# IDE
.idea/
*.swp
*.swo
*~
